* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: auto;
}

/* logo and nav  section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  max-height: 95px;
  left: 150px;
  top: 30px;
  flex-direction: row;
  padding: 0px;
  border: none;
}
figure {
  max-width: 135px;
  max-height: 82px;
  margin-left: 0;
}
/* navbar */
nav {
  display: flex;
  gap: 48px;
  align-items: center;
  margin-right: 0;
}
nav ul {
  display: flex;
  gap: 48px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
}
#home {
  width: 46px;
  height: 24px;
  color: rgb(37, 36, 50);
  flex-direction: row;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
#shop {
  width: 39px;
  height: 24px;
  color: rgb(137, 135, 161);
  flex-direction: row;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
#about {
  width: 73px;
  height: 24px;
  color: rgb(137, 135, 161);
  flex-direction: row;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
#cart {
  width: 79px;
  height: 24px;
  flex-direction: row;
  gap: 10px;
  color: rgb(80, 10, 10);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
nav i {
  border: none;
  width: 22px;
  height: 15px;
  left: 590px;
  top: 1px;
  color: rgb(128, 106, 75);
}

/* banner */
.banner {
  display: flex;
  margin-top: 120px;
  max-width: 1140px;
  max-height: 441px;
}
.banner-left {
  max-width: 570px;
  max-height: 299px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13px 0px;
}
.orange-color {
  color: rgb(233, 90, 8);
}
.banner-left h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 79px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 0px;
  margin-top: 56px;
  width: 570px;
  height: 178px;
}
.banner-left p {
  margin-top: 15px;
  margin-left: 0px;
  width: 570px;
  height: 108px;
  gap: 13;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.banner img {
  max-width: 570px;
  max-height: 355px;
}

/* plants */
.plants {
  max-width: 1140px;
  height: 1010px;
  left: 150px;
  top: 802px;
  margin-top: 120px;
}
.plants-title {
  max-width: 1140px;
  max-height: 138px;
}
.plants-title h2 {
  width: 1140px;
  height: 68px;
  margin: 16px 0px;
  gap: 16;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.plants-title p {
  width: 888px;
  height: 54px;
  gap: 16;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
.flower-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.flower-card-1to8 {
  max-width: 270px;
  max-height: 484.94px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30;
  padding: 0px;
  margin: 0px 20px;
}
.flower-card-1to8 img {
  max-width: 275px;
  max-height: 280px;
  margin-bottom: 30px;
}

.description-tk-button {
  max-width: 270px;
  max-height: 132px;
  padding: 5px 69px 5px;
  border: none;
}

.btn-orange {
  padding: 16px 19px;
  max-width: 270px;
  max-height: 50px;
  gap: 10px;
  margin: 5px auto;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* plant-lover */
.plantlover {
  max-width: 1140px;
  max-height: 597px;
  display: flex;
  margin-top: 127px;
}

.plant-image {
  max-width: 540px;
  max-height: 597px;
  margin: 0px 10px;
  width: 100%;
  display: block;
}
.trusted-badge {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 490px;
  top: 1700px;
  transform: translateX(-55%);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: translateX(-10%) rotate(60deg);
  }
  100% {
    transform: translateX(-18%) rotate(360deg);
  }
}

.plantlover-title {
  max-width: 540px;
  max-height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 38px 0px 38px 60px;
  margin: 0px 10px;
}
.plantlover-title h2 {
  max-width: 540px;
  max-height: 137px;
  display: flex;
  gap: 20;
  padding: 0px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
}
.plantlover-title ul li p {
  max-width: 540px;
  max-height: 384px;
  gap: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px auto;
}
.plantlover-title ul {
  max-width: 540px;
  max-height: 384px;
}
/* join section */
.join-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  color: rgba(7, 51, 79, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 120px;
  max-width: 1440px;
  height: 100vh;
}

.join-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.suscribe {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 600px;
  width: 90%;
}
.suscribe h2 {
  max-width: 586px;
  max-height: 68px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16;
  padding: 0px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.input-form {
  max-width: 644px;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 8px 20px 8px 20px;
  margin: 0px 0px;
}
.input-form input {
  padding: 15px;
  border: none;
  width: 70%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 600px;
  height: 19px;
}
.input-form button {
  width: 186px;
  height: 32px;
  background-color: rgb(233, 90, 8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
/* logo */

.logo {
  margin-top: 50px;
}
.logo-footer {
  max-width: 1140px;
  height: 248px;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.logo-description {
  max-width: 200px;
  gap: 10px;
  margin-left: 10px;
}
.logo-description img {
  max-width: 135px;
  max-height: 82px;
  margin: 16px 0px;
  margin-bottom: 15px;
}
.logo-description p {
  width: 359px;
  height: 160px;
  gap: 10px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.link {
  width: 323px;
  height: 248px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  padding: 0px;
  letter-spacing: 0%;
  margin: 50px 80px;
}
.link1 {
  width: 85px;
  height: 248px;
  display: flex;
  flex-direction: column;
  gap: 60;
  padding: 0px;
  margin: 0px 10px;
}
.link2 {
  width: 128px;
  height: 248px;
  display: flex;
  flex-direction: column;
  gap: 32;
  padding: 0px;
}
.media-icon {
  width: 216px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding: 50px;
}
.link ul {
  list-style: none;
  padding: 0;
}
.link li {
  margin-bottom: 10px;
}

.link a {
  text-decoration: none;
  color: ;
  transition: color 0.3s;
}
.links a:hover {
  color: #f4550e;
}
.media-icon a {
  color: #333;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s;
}
.media-icon a:hover {
  color: #f4550e;
}

.latest {
  margin-top: 130px;
  max-width: 1440px;
  max-height: 138px;
  display: grid;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.latest h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.latest p {
  max-width: 888px;
  max-height: 54px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.deals {
  margin-top: 50px;
  width: 1140px;
  height: 425px;
}
.plantnow {
  display: flex;
}
.card {
  display: grid;
  width: ;
}
.card1 {
  background-image: url(..//assets/deal-bloom.png);
  background-size: cover;
  background-position: center;
  width: 366.22px;
  height: 206px;
  left: 0;
  top: -5px;
  color: rgba(0, 0, 0, 0.4);
  margin: 2px 0px;
}

.card1 p {
  width: 270px;
  height: 27px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding-top: 90px;
}
.card1 span {
  width: 250px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 26px 50px 26px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.card2 {
  background-image: url(../assets/deal-ana.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  width: 366.22px;
  height: 200px;
  left: 1px;
  top: px;
  color: rgba(0, 0, 0, 0.4);
  margin: 2px 0px;
}

.card2 p {
  width: 270px;
  height: 27px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding-top: 90px;
}
.card2 span {
  width: 250px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 26px 50px 26px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.card3 {
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
  position: static;
  width: 753px;
  height: 423.13px;
}

.card3 p {
  width: 270px;
  height: 27px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: px 250px;
  padding-top: 215px;
}
.card3 span {
  width: 250px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 26px 50px 26px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

/* responsive */

@media screen and (max-width: 576px) {
  nav ul.linkhide {
    display: none;
  }
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-left {
    align-items: flex-start;
    padding: 10px;
    margin: 5px 0;
  }
  .banner-left h2,
  .banner-left p {
    width: 100%;
    text-align: left;
  }
  .banner img {
    order: -1;
    width: 100%;
    height: auto;
  }

  .plants {
    max-width: 393px;
    height: 1650px;
    left: 150px;
    top: 802px;
    margin-bottom: px;
  }

  .plants-title {
    max-width: 393px;
    max-height: 89px;
    margin-top: 260px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .plants-title h2 {
    width: 393px;
    height: 33px;
    margin: 18px 0px;
    gap: 16;
    font-size: 50px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: center;
  }
  .plants-title p {
    width: 393px;
    height: 68px;
    gap: 16;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
  }
  .flower-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 393px;
    max-height: 1500px;
  }
  .flower-card-1to8 {
    max-width: 393px;
    max-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30;
    padding: px;
    margin: 50px 0px;
    padding: 29px 2px;
  }

  .description-tk-button h6 {
    max-width: 196px;
    max-height: 80px;
    padding: 5px 5px;
    color: rgb(17, 17, 17);
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .description-tk-button span {
    max-width: 99px;
    max-height: 12px;
    gap: 10;
    margin: 10px;
    color: rgb(17, 17, 17);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .flower-card-1to8 img {
    max-width: 394px;
    max-height: 196.5px;
    margin-bottom: 0px 0px;
  }

  .plantlover {
    display: grid;
    max-width: 393px;
    height: 396px;
    margin-top: 280px;
  }
  .plantlover-title {
    max-width: 361px;
    max-height: 234px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0px;
    margin: 18px 0px;
  }

  .plantlover-title h2 {
    max-width: 330px;
    max-height: 100px;
    display: flex;
    gap: 16;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .plantlover-title ul li p {
    max-width: 361px;
    max-height: 210px;
    gap: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px auto;
  }
  .plantlover-title ul {
    max-width: 361px;
    max-height: 51px;
  }
  .plant-image {
    width: 100%;
    height: auto;
  }
  .trusted-badge {
    display: none;
  }

  .latest {
    width: 393px;
    height: 117px;
    margin-top: 420px;
    margin-bottom: 20px;
  }
  .latest h2 {
    width: 393px;
    height: 33px;
    margin: 16px 0px;
    gap: 16;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
  }
  .latest p {
    width: 336px;
    height: 68px;
    gap: 16;
    padding: 0px;
    margin: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
  }
  .deals {
    display: grid;
  }

  .plantnow,
  .card,
  .card1,
  .card2 {
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .plantnow {
    width: 380px;
    height: 350px;
  }

  .card1 {
    width: 366.22px;
    height: 206px;
    left: 30px;
    top: -5px;
    padding: 0px 0px;
  }
  .card2 {
    width: 366.22px;
    height: 206px;
    left: 0;
    top: -5px;
  }
  .card3 {
    width: 361px;
    height: 177px;
    left: 0;
    top: -5px;
  }

  .logo {
    width: 359px;
    height: 765px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20;
    padding: 0px;
    margin: 48px 0px;
  }

  .logo-footer {
    display: flex;
    grid-template-columns: repeat(fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 250px;
  }

  .logo-description {
    margin-bottom: 0px;
    width: 359px;
    height: 25px;
  }

  .link1 {
    width: 85px;
    height: 248px;
    margin-top: 20px;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding-right: 274px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
  }

  .link2 {
    width: 128px;
    height: 248px;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding-right: 280px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 20px 0px;
  }
  .link {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
  .media-icon {
    display: flex;
    grid-template-columns: auto;
  }

  .join {
    width: 393px;
    height: 275px;
    left: 0;
    top: 4.5px;
  }

  .suscribe h2 {
    width: 235px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
    padding: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
}
